.dialog
    .hd
        display: flex
        justify-content: space-between
        align-items: center
        padding: 15px
        border-bottom: 1px solid #eee

        .title
            font-size: 16px
            font-weight: bold

    .bd
        padding: 15px

        .van-button--default
            background: #F7F8FA
            border-color: #F7F8FA
            margin: 0 8px 8px 0

            &.active
                background: #ffcd05
                border-color: #ffcd05