
@font-face
    font-family: 'Number'
    src: url('~assets/font/DINAlternate-Bold.ttf') format('truetype')

html, body, #app
    position: relative
    height: 100%

body.fn-hidden
    position: fixed
    width: 100%
    top: 0px

a
    color: #307EFE

.lt-main
    padding: 55px 0 0

    .listHeader
        background: #ddd

        .title
            height: 63px
            line-height: @height
            font-size: 16px
            color: #333
            font-weight: bold
            padding: 0 20px

        .tabs
            display: flex

            a
                flex: 1
                background: rgba(#fff, 0.8)
                color: #333
                text-align: center
                font-size: 16px
                height: 42px
                line-height: @height

                &.router-link-active
                    background: #fff
                    font-weight: bold
                    position: relative

                    &:before
                        content: ' '
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 3px
                        background: #F4D421

    .search-filter
        display: flex
        height: 40px
        background: #fff

        .filter-item
            flex: 1

    .search-btns
        display: flex
        justify-content: space-between
        padding: 15px
        border-top: 1px solid #F8F9FA

        .btn-item
            background: #F0F2F5
            padding: 6px 0
            border-radius: 4px
            flex: 1
            text-align: center
            margin: 0 0 0 10px

            &:first-child
                margin: 0

    .listMain
        .item
            display: flex
            border-bottom: 1px solid #F8F9FA
            padding: 11px 0

            &:first-child
                border-top: 1px solid #F8F9FA

            .order
                padding: 0 0 0 10px
                width: 20px
                flexCenter()

            .logo
                width: 50px
                height: 50px
                margin: 0 20px 0 15px

                img
                    width: 100%
                    height: 100%
                    border-radius: 12px

            .desc
                flex: 1

                .title
                    font-size: 16px
                    color: #333

                .info
                    font-size: 14px
                    color: #9F9F9F

            .icon
                width: 70px
                flexCenter()
                color: #9F9F9F

                &.up
                    color: #FF3736

                    .svg-icon
                        transform: rotate(-90deg)

                &.down
                    color: #15AD9D

                    .svg-icon
                        transform: rotate(90deg)

                .svg-icon
                    width: 12px
                    height: 12px

                span
                    padding: 0 0 0 3px

            .trend
                display: flex
                padding: 15px 0 0 0
                font-size: 12px
                color: #307EFE

                .val
                    padding-top: 2px

                .num
                    margin: 0 5px 0 0

                .svg-icon
                    position: relative
                    top: 2px
                    width: 12px
                    height: 13px

                .icon-rank-right
                    color: #999

                .icon-rank-up
                    color: #FF3737

                .icon-rank-down
                    color: #16AD9D

                .icon-chart
                    width: 16px
                    height: 16px
                    color: #307EFE