.page-home
    position: relative
    padding-top: 110px
    background: #F7F8FA

    .home-menu
        padding: 10px 0

        .menu-row
            display: flex
            padding: 5px 0

            .menu-item
                flexCenter()
                flex-direction: column
                flex: 1
                color: #333

                .img
                    flexCenter()
                    width: 50px
                    height: 50px
                    background: #ffffff
                    border-radius: 50%
                    margin-bottom: 5px

    .home-banner
        padding: 0 15px
        margin: 0 0 10px 0

    .section-box
        background: #fff
        box-shadow: 0px 0px 10px 0px rgba(157, 171, 184, 0.25)
        border-radius: 15px

        .hd
            display: flex
            justify-content: space-between
            align-items: center
            padding: 15px 20px 0

            .title
                font-size: 20px
                font-weight: bold

            .more
                color: #007AFF

    .home-data
        padding: 0 15px
        margin: 0 0 10px 0

        .data-box
            width: 100%
            height: 132px

            .bd
                display: flex
                margin-top: 10px

                .data-item
                    flexCenter()
                    flex-direction: column
                    flex: 1

                    .num
                        font-size: 28px
                        font-family: DINAlternate-Bold, DINAlternate
                        font-weight: bold

    .home-follow
        padding: 0 15px
        margin: 0 0 10px 0

        .follow-box
            width: 100%
            height: 145px

            .bd
                display: flex
                margin-top: 10px

                .app-item
                    flexCenter()
                    flex-direction: column
                    width: 25%
                    padding: 0 5px

                    .title
                        one-line()
                        margin-top: 5px
                        font-size: 12px
                        text-align: center

    .home-rank
        padding: 0 15px
        margin: 0 0 10px 0

        .rank-box
            .nav
                padding: 15px 20px 0

                .nav-box
                    display: flex
                    height: 32px
                    background: rgba(244, 245, 248, 1)
                    border-radius: 6px
                    padding: 2px

                    .nav-item
                        flexCenter()
                        flex: 1

                        &.active
                            background: #fff
                            border-radius: 5px

            .hd
                .title
                    .date
                        margin-left: 5px
                        font-weight: normal
                        font-size: 12px
                        color: #8690A5

            .bd
                padding: 5px 10px 0 20px

                /deep/.list
                    .list-item
                        display: flex
                        padding: 10px 0

                        .desc
                            display: flex
                            flex: 1
                            margin-left: 10px
                            padding: 6px 0
                            border-bottom: 1px solid #F8F9FA

                            .index
                                margin-right: 10px
                                font-size: 15px

                            .info
                                .title
                                    font-size: 17px

                                .dev
                                    font-size: 14px
                                    color: #8690A5

    .home-post
        .section-box
            border-radius: 15px 15px 0 0

        .bd
            .list
                .list-item
                    display: block
                    padding: 10px 20px
                    border-bottom: 1px solid #F8F9FA
                    color: #333

                    .title
                        one-line()
                        margin: 0 0 5px 0
                        font-size: 17px

                    .desc
                        display: flex
                        justify-content: space-between
                        font-size: 12px
                        color: #8690A5